<main>
<navbar></navbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="background-color: #DCDCDC;">
      </div>
      <div class="col-md-6" style="background-color: #fff;">
        <div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#modalTrocaLogo">
            <img scr="{{logo}}" alt="logo" id="logo">
          </a>
        </div>

        <div id="editorUm">
          <h4 onclick="console.log('Cliquei no titulo')">Titulo</h4>
        </div>

        <div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#modalTrocaImagemCentro">
            <img scr="./src/img/bird.jpg" width="400" height="300" style="margin-left: 39%;" id="imagem" alt="imagem">
          </a>
        </div>

        <div id="editorDois">
          <h4 onclick="console.log('Cliquei no texto')">Rodapé</h4>
        </div>


      </div>
      <div class="col-md-2" style="background-color: #DCDCDC;">
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="modalTrocaLogo" tabindex="-1" aria-labelledby="modalLogo" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLogo">Trocar Logo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <h6>Selecione abaixo a logo</h6>
  <center>
            <img src="./src/img/logo.jpg" width="400" height="300" id="logo1" value="logo1" onclick="alteraLogo1()">
            <img src="./src/img/logo1.jpg" width="400" height="300" id="logo2" value="logo2" onclick="alteraLogo2()">
            <img src="./src/img/logo2.jpg" width="400" height="300" id="logo3" value="logo3" onclick="alteraLogo3()">
            <img src="./src/img/logo3.jpg" width="400" height="300" id="logo4" value="logo4" onclick="alteraLogo4()">
  </center>
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" id="modalTrocaImagemCentro" tabindex="-1" aria-labelledby="modalImagemCentro" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalImagemCentro">Trocar Imagem</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Selecione abaixo a imagem</h6>
          <center>
          <img src="./src/img/image.jpg" width="400" height="300" id="Imagem1" value="Imagem1" onclick="alteraImagem1()">
          <img src="./src/img/image1.jpg" width="400" height="300" id="Imagem2" value="Imagem2" onclick="alteraImagem2()">
          <img src="./src/img/image2.jpg" width="400" height="300" id="Imagem3" value="Imagem3" onclick="alteraImagem3()">
          <img src="./src/img/image3.jpg" width="400" height="300" id="Imagem4" value="Imagem4" onclick="alteraImagem4()">
          </center>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>

</main>
<navbar></navbar>
