.home {
  color: red;
}
#editorUm {
  height:90px;
}
#editorDois {
  height:70px;
}
.imgs {
  width: 400px;
  height: 250px;
  padding: 10px 10px 10px 10px;
}
.logos {
  width: 300px;
  height: 150px;
  padding: 10px 10px 10px 10px;
}
